<div class="errors">
    <% if flash[:errors]%>
        <% flash[:errors].each do |error| %>
            <p><%= error %></p>
        <% end %>
    <% end %>
</div>


<div class="field">
    <%= form_for @user do |f| %>
    <p>Name</p>
    <div class="field">
            <div class="control">
                <%= f.text_field :first_name, :class => 'input', :placeholder => "First Name" %>
            </div>
            <div class="control">
                <%= f.text_field :last_name, :class => 'input', :placeholder => "Last Name" %>
            </div><br>
    </div>
    

        <p>Log In Details</p>
        <div class="field">
            <div class="control">
                <%= f.email_field :email, :class => 'input', :placeholder => "Email" %>
            </div>
            <div class="control">
                <%= f.email_field :email_confirmation, :class => 'input', :placeholder => "Email Confirmation" %>
            </div>
            <div class="control">
                <%= f.password_field :password, :class => 'input', :placeholder => "Password" %>
            </div>
            <div class="control">
                <%= f.password_field :password_confirmation, :class => 'input', :placeholder => "Password Confirmation" %>
            </div><br>
        </div>

        <p>Contact Details</p>
        <div class="field">
            <div class="control">
                <%= f.telephone_field :phone, :class => 'input', :placeholder => "Phone (123) 456-7890" %>
            </div><br>
        </div>

        <p>Emergency Contact Details</p>
        <div class="field">
            <div class="control">
                <%= f.text_field :e_contact_name, :class => 'input', :placeholder => "Name" %>
            </div>
            <div class="control">
                <%= f.email_field :e_contact_email, :class => 'input', :placeholder => "Email" %>
            </div>
            <div class="control">
                <%= f.telephone_field :e_contact_phone, :class => 'input', :placeholder => "Phone" %>
            </div>
        </div>
        <%= f.submit "Submit", :class => 'button is-light is-outlined'  %>
    <% end %>
</div> 

