<h1><%= @user.first_name + " " + @user.last_name%> Profile Page</h1>

<p>Account Details:<br>
Email: <%= @user.email %><br>
Password: <%= "Change Password" %><br>
Phone Number: <%= @user.phone %><br>
</p>

<p>Account Stats:<br>
Total Hikes: <%= @user.total_past_hikes %><br>
Total Miles: <%= @user.total_miles %><br>
Highest Peak: <br><%= @user.highest_peak %><br>
Longest Ascent: <br><%= @user.longest_ascent %>
</p>

<p>Emergency Contact:<br>
<%= @user.e_contact_name %><br>
<%= @user.e_contact_email %><br>
<%= @user.e_contact_phone %>
</p>

<p><%= link_to "Update Account Information", edit_user_path(@user) %></p>