<div>
	<h1>Hike to <%= @hike.trail.name %></h1>
	<h3>
		Start Date: <%= @hike.start_date %><br>
		End Date: <%= @hike.end_date %><br>
	</h3>
	<h4>Notes:<br><%= @hike.note %></h4>
	<img src="<%= @hike.trail.img_sq_small %>" alt="Trail Picture">
	<ul>
		<li>Location: <%= @hike.trail.location %></li>
		<li>Difficulty: <%= @hike.trail.difficulty %></li>
		<li>Stars: <%= @hike.trail.stars %></li>
		<li>Length (miles): <%= @hike.trail.length %></li>
		<li>Ascent (feet): <%= @hike.trail.ascent %></li>
		<li>Peak (feet): <%= @hike.trail.high %></li>
		<li>Condition Status: <%= @hike.trail.condition_status %></li>
		<li>Condition Details: <%= @hike.trail.condition_details %></li>
		<li>Condition Date: <%= @hike.trail.condition_date %></li>
		<li>Summary: <%= @hike.trail.summary %></li>
		<li><a href="<%= @hike.trail.url %>">Hiking Project Link</a></li>
	</ul>
</div>

<!-- DISPLAYS EACH HIKE USER'S ITEMS -->
<div>
	<h2>Pack List</h2>
	<h4><%= button_to "Add Items To Pack List", new_hike_item_path, params: {hike_id: @hike.id}, method: :get %></h4>
	<% @hike.users.each do |user| %>
		<h4><%= user.first_name %>'s Pack List</h4>
		<ul>
		<% @hike.hike_items.each do |hike_item| %>
			<% if hike_item.item.user == user %>
			<li><%= hike_item.item.name %> <%= link_to "Remove Item", hike_item_path(hike_item), method: :delete %></li>
			<% end %>
		<% end %>
		</ul>
	<% end %>
</div>