<%= form_tag(trails_path, action: "index", method: "get") do %>
	<label>City</label><br>
	<%= text_field_tag(:city, params[:city]) %><br>
	<label>State</label><br>
	<%= text_field_tag(:state, params[:state]) %><br>
	<label>Max Distance (1-100)</label><br>
	<%= text_field_tag(:max_distance, params[:max_distance]) %><br>
	<label>Max Results (1-10)</label><br>
	<%= text_field_tag(:max_results, params[:max_results]) %><br>
	<%= submit_tag ("Search") %>
<% end %>