<!-- ROOT HOME PAGE-->
<div class="sign-up-splash" align=center>

	<% if @current_user %>

		<h1>Welcome, <%= @current_user.first_name + " " + @current_user.last_name%>!</h1>

		<h2>Search For Trails</h2>

		<%= render 'trail_search_form' %>
		
		<!-- TRAIL SEARCH RESULTS -->
		<% if @api_data != nil %>
			<% @api_data["trails"].each do |trail| %>
				<section class="section">
					<ul>
						<li><img src="<%= trail["imgSqSmall"] %>" alt="Trail Picture"></li>
						<li>Name: <%= trail["name"] %></li>
						<li>Location: <%= trail["location"] %></li>
						<li>Difficulty: <%= trail["difficulty"] %></li>
						<li>Stars: <%= trail["stars"] %></li>
						<li>Length (miles): <%= trail["length"] %></li>
						<li>Ascent (feet): <%= trail["ascent"] %></li>
						<li>Peak (feet): <%= trail["high"] %></li>
						<li>Condition Status: <%= trail["conditionStatus"] %></li>
						<li>Condition Details: <%= trail["conditionDetails"] %></li>
						<li>Condition Date: <%= trail["conditionDate"] %></li>
						<li>Summary: <%= trail["summary"] %></li>
						<li><a href="<%= trail["url"] %>">Hiking Project Link</a></li>
						<li><%= button_to "Plan a New Hike to #{trail["name"]}", new_hike_path, params: {api_id: trail["id"]}, method: :get %></li>
					</ul>
				</section>
			<% end %>
		<% end %>


	<% else %>
		<div id="errors">
			<% if flash[:not_authorized] %>
				<p><%= flash[:not_authorized] %></p>
			<% end %>
		</div>

		<div class="home-features">
			<h2 class="title is-2">Join Hike Atlas Today</h2>
			
			<p>Search For Hiking Trails Around the World</p><br>
			<p>Schedule Upcoming Hiking Trips</p><br>
			<p>Track All Your Hiking Gear</p><br>
			<p>Add Gear Pack Lists To Your Hikes</p><br>
			
		</div>
		<br>
			<%= button_to "Sign Up", new_user_path, method: :get, :class => "button is-light is-outlined inline-buttons" %>
			<br>
			<%= button_to "Log In", new_login_path, method: :get, :class => "button is-light is-outlined inline-buttons" %>
	<% end %>
	<% end %>

</div>




