<h1>Trails Index</h1>

<%= render 'trail_search_form' %>
<br><br><br>

<% if @api_data != nil %>
	<% @api_data["trails"].each do |trail| %>
		<div>
			<ul>
				<li><img src="<%= trail["imgSqSmall"] %>" alt="Trail Picture"></li>
				<li>Name: <%= trail["name"] %></li>
				<li>Location: <%= trail["location"] %></li>
				<li>Difficulty: <%= trail["difficulty"] %></li>
				<li>Stars: <%= trail["stars"] %></li>
				<li>Length (miles): <%= trail["length"] %></li>
				<li>Ascent (feet): <%= trail["ascent"] %></li>
				<li>Peak (feet): <%= trail["high"] %></li>
				<li>Condition Status: <%= trail["conditionStatus"] %></li>
				<li>Condition Details: <%= trail["conditionDetails"] %></li>
				<li>Condition Date: <%= trail["conditionDate"] %></li>
				<li>Summary: <%= trail["summary"] %></li>
				<li><a href="<%= trail["url"] %>">Hiking Project Link</a></li>
			</ul>
		</div>
	<% end %>
<% end %>