<!-- ROOT HOME PAGE-->
<div class="sign-up-splash" align=center>
	<% if @current_user %>
		<h3 class="title is-3">Search For Trails</h3>
		<br>
		<%= render 'trail_search_form' %>
	<% else %>
		<div id="errors">
			<% if flash[:not_authorized] %>
				<p><%= flash[:not_authorized] %></p>
			<% end %>
		</div>
		<div>
			<h2 class="title is-2">Join Hike Atlas Today</h2>
			<p>Search For Hiking Trails Around the World</p><br>
			<p>Schedule Upcoming Hiking Trips</p><br>
			<p>Track All Your Hiking Gear</p><br>
			<p>Add Gear Pack Lists To Your Hikes</p><br>
		</div>
		<br>
			<%= button_to "Sign Up", new_user_path, method: :get, :class => "button is-light is-outlined" %>
			<br>
			<%= button_to "Log In", new_login_path, method: :get, :class => "button is-light is-outlined" %>
	<% end %>
</div>

<!-- TRAIL SEARCH RESULTS -->
<div class="search-results">
	<% if @api_data != nil %>
		<% @api_data["trails"].each do |trail| %>
			<div class="search-results-trail">
				<h6 class="title is-6"><%= trail["name"] %></h6>
				<img src="<%= trail["imgMedium"] %>" alt="Trail Picture from <%= trail["name"] %> ">
				<ul>
					<li><a href="<%= trail["url"] %>">Hiking Project Link</a></li>
					<li><b>Location: </b><%= trail["location"] %></li>
					<li><b>Difficulty: </b><%= trail["difficulty"] %></li>
					<li><b>Stars: </b><%= trail["stars"] %></li>
					<li><b>Length (Miles): </b><%= trail["length"] %></li>
					<li><b>Ascent (Feet): </b><%= trail["ascent"] %></li>
					<li><b>Peak (Feet): </b><%= trail["high"] %></li>
					<li><b>Condition Status: </b><%= trail["conditionStatus"] %></li>
					<li><b>Condition Details: </b><%= trail["conditionDetails"] %></li>
					<li><b>Condition Date: </b><%= trail["conditionDate"] %></li>
					<li><b>Summary: </b><br><%= trail["summary"] %></li><br>
				</ul>
				<%= button_to "Plan a Hike", new_hike_path, params: {api_id: trail["id"]}, method: :get, :class => "button is_light is_outlined" %><br>
			</div>
		<% end %>
	<% end %>
</div>



