<% if flash[:errors]%>
    <% flash[:errors].each do |error| %>
        <p><%= error %></p>
    <% end %>
<% end %>

<%= form_for @item do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

    <%= f.label :description %><br>
    <%= f.text_field :description %><br>

    <%= f.label :weight %><br>
    <%= f.number_field :weight %><br>

    <%= f.label :cost %><br>
    <%= f.number_field :cost %><br>

    <%= f.label :condition %><br>
    <%= f.text_field :condition %><br>

    <%= f.label :note %><br>
    <%= f.text_field :note %><br>

		<%= f.label :url, "URL" %><br>
    <%= f.url_field :url, :placeholder => "https://www.example.com" %><br>

		<%= f.label :category_id %><br>
		<%= f.collection_select :category_id, @categories, :id, :name %>

    <%= f.hidden_field(:user_id, :value => @current_user.id) %><br>
    <%= f.submit %>
<% end %>