<%= button_to "Add Item To Inventory", new_item_path, method: :get %>
<% @categories.each do |category| %>
    <h2><%= category.name %></h2>

    <% cat_items = @items.select { |item| item.category == category} %>
        <% cat_items.each do |item| %>
            <h3>Name: <%= item.name %><%= button_to "Edit Item", edit_item_path(item), method: :get %></h3>
            <ul>
							<li>Description: <%= item.description %></li>
							<li>Weight: <%= item.weight %> lbs.</li>
							<li>Cost: $<%= item.cost %></li>
							<li>Condition: <%= item.condition %></li>
							<li>Note: <%= item.note %></li>
							<li><a href="<%= item.url %>">Item Link</a></li>
						</ul>
        <% end %>
<% end %>
