<!DOCTYPE html>
<html>
  <head>
    <title>Hike Atlas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- the line below doesn't seem to do anything -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
  </head>

  <body>
    <!-- HEADER -->
    <header class="header">
      <div class="container">
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <h1 class="title is-1"><%= link_to "Hike Atlas", root_path, method: :get %></h1>
            </div>
          </div>
          <div class="level-right">
            
            <% if @current_user %>

              <p class="level-item">
                <%= link_to("Search Trails", trails_path, :class => "button is-light is-outlined") %>
              </p>
              <p class="level-item">
                <%= link_to("Hikes", hikes_path, :class => "button is-light is-outlined") %>
              </p>
              <p class="level-item">
                <%= link_to("Inventory", items_path, :class => "button is-light is-outlined") %>
              </p>
              <p class="level-item">
                <%= link_to("Account", user_path(@current_user), :class => "button is-light is-outlined") %>
              </p>
              <p class="level-item">
                <%= link_to("Log Out", logout_path, method: :delete, :class => "button is-light is-outlined") %>
              </p>
            <% else%>
              <p class="level-item">
                <%= link_to("Sign Up", new_user_path, :class => "button is-light is-outlined") %>
              </p>
              <p class="level-item">
                <%= link_to("Log In", new_login_path, :class => "button is-light is-outlined") %>
              </p>
            <% end%>
            </p>
          </div>
        </nav>
      </div>
    </header>

    <!-- SITE CONTENT -->
    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>

    <!-- FOOTER -->
    <footer class="footer">
      <div class="container">
        <nav class="level">

          <div class="level-left">
            Copyright © 2020 Hike Atlas. All rights reserved.
          </div>

          <div class="level-right">
            <p class="level-item">A Roman Tetelbaum and Matthew Kirby App</p>
            <a href="https://github.com/mkirby/Hike-Atlas" class="button is-light is-outlined">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              <span>GitHub</span>
            </a>
          </div>
          
        </nav>
      </div>
    </footer>
  </body>
</html>
